[core]
	editor = nano
[user]
	email = pixelfish22@gmail.com
	name = Ken Korth
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f